@charset "UTF-8";

// *----------------------------
//	Button
// ----------------------------*

/* Button */
.btn-row{
    margin: 50px auto 0;
    width: 100%;

    .one-btn{
        @include btnType2($btnColor, 200px, 50px, 15px);
    }

    &.has-one{
        display: flex;
        justify-content: flex-end;
    }

    .admin-btn{
        background: $bgBlue !important;
        font-size: 14px;
        
        &:hover{
            @include btnHover($bgBlue);
        }
        
        &:active, &:visited, &:focus{
            @include btnHover($bgBlue, 10%);
        }
        
        &.ex{
            @media (min-width: 320px){
                width: 80px;
                height: 40px;
            }
            
            @media (min-width: 768px){
                width: 100px;
                height: 90px;
            }
        }
        
        &.white{
            @media (min-width: 320px){
                @include btnType($width: 100px, $height: 40px);
                line-height: 35px;
            }
            
            @media (min-width: 768px){
                @include btnType($width: 120px, $height: 50px);
                line-height: 40px;
            }
        } 
    }
}