@charset "UTF-8";

// *----------------------------
//	Common
// ----------------------------*

/* Common */
/* Font-face */
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NanumGothic-Regular.eot');
    src: url('../fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NanumGothic-Regular.woff2') format('woff2'),
         url('../fonts/NanumGothic-Regular.woff') format('woff'),
         url('../fonts/NanumGothic-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/NanumGothic-Bold.eot');
    src: url('../fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NanumGothic-Bold.woff2') format('woff2'),
         url('../fonts/NanumGothic-Bold.woff') format('woff'),
         url('../fonts/NanumGothic-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/NanumGothic-ExtraBold.eot');
    src: url('../fonts/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NanumGothic-ExtraBold.woff2') format('woff2'),
         url('../fonts/NanumGothic-ExtraBold.woff') format('woff'),
         url('../fonts/NanumGothic-ExtraBold.ttf') format('truetype');
  }
   
body, table, div, p {
    font-family:'Nanum Gothic';
    font-size: 16px;
}

/* H tag */
h1{
    font-size: 32px;
}
h2{
    margin-bottom: 15px;
    padding: 15px 0;
    border-bottom: 2px solid $black;

    font: {
        size: 30px;
        weight: 600;
    }
}
h3{
    display: inline-block;
    margin: 5px 0;
    padding: 10px 20px;
    background: $h3;
    font-size: 18px;
    color: $white;
}
h4{
    font-size: 26px;
}
h5{
    font-size: 24px;
}
h6{
    font-size: 22px;
}

ol{
    position: relative;
    left: 30px;
    list-style: decimal-leading-zero;  
}

xmp,
.explanation-box{
    margin: 15px 0;
    padding: 10px 20px;
    border: 1px solid;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
}

.bold{
    font-weight: 900;
    color: brown;
}

a{
    text-decoration: none;
    color: $black;

    &:hover{
        font-weight: 700;
    }
}

.notice{
    padding:0 10px;
    border:1px solid #ff0000;
    background:rgb(248, 218, 222);
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
}