
// *----------------------------
//	Images
// ----------------------------*

/* Basic */
.basic-01{
    @include imagePushGuide(guideline-basic);
    height: 100px;
}
.basic-02{
    @include imagePushGuide(guideline-basic, "02");
    height: 100px;
}

.basic-03{
    @include imagePushGuide(guideline-basic, "03");
    height: 100px;
}

/* Font */
@for $i from 1 through 3{
    @if($i < 10){
        .bullet-0#{$i}{
            @include imagePushGuide(guideline-font,"0#{$i}");
            height: 100px;
        }
    }
    
    @else {
        .bullet-#{$i}{
            @include imagePushGuide(guideline-font,"#{$i}");
            height: 100px;
        }
    }
}
/* Bullet */
@for $i from 1 through 8{
    @if($i < 10){
        .bullet-0#{$i}{
            @include imagePushGuide(guideline-bullet,"0#{$i}");
        }
    }
    
    @else {
        .bullet-#{$i}{
            @include imagePushGuide(guideline-bullet,"#{$i}");
        }
    }
}

/* Button */
@for $i from 1 through 11{
    @if($i < 10){
        .button-0#{$i}{
            @include imagePushGuide(guideline-button,"0#{$i}");
        }
    }

    @else {
        .button-#{$i}{
            @include imagePushGuide(guideline-button,"#{$i}");
        }
    }
}

/* Table */
@for $i from 1 through 3{
    @if($i < 10){
        .table-0#{$i}{
            @include imagePushGuide(guideline-table, "0#{$i}");
        }
    }

    @else {
        .table-#{$i}{
            @include imagePushGuide(guideline-table, "#{$i}");
        }
    }
}
/* Vue */
@for $i from 1 through 35{
    @if($i < 10){
        .vue-0#{$i}{
            @include imagePush(vue,"0#{$i}");
            border: 0;
        }
    }

    @else {
        .vue-#{$i}{
            @include imagePush(vue,"#{$i}");
            border: 0;
        }
    }
}

.vue-23{
    height: 100px;
}

.vue-16,
.vue-27{
    height: 150px;
}


.vue-31{
    height: 200px;
}

.vue-18,
.vue-19,
.vue-20,
.vue-22,
.vue-24,
.vue-25,
.vue-30,
.vue-32,
.vue-33,
.vue-34{
    height: 300px;
}

.vue-26,
.vue-35{
    height: 400px;
}
/* Jquery */
.jquery-01{
    @include imagePush(jquery,"01");
    height: 400px;
}