@charset "UTF-8";

// *----------------------------
//	Table
// ----------------------------*

/* Table */
.default-table{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
    table-layout: fixed;
    word-break: break-all;

    tr{
        th, td{
            padding: 10px;
            border: 1px solid;
            vertical-align: middle;
            white-space: wrap;
            word-break: keep-all;
            line-height: 1.5;
        }

        th{
            background: $gray;
            font-weight: 400;
        }
    }
}