@charset "UTF-8";

// *----------------------------
//	Bullet
// ----------------------------*

/* Logo */
.logo-header {
    @media (min-width: 320px){
        width: 110px; height: 26px;
        background: url('../images/sprite/mainM-sprites.png') -10px -10px;
    }

    @media (min-width: 768px){
        width: 126px; height: 44px;
        background: url('../images/sprite/main-sprites.png') -199px -10px;
    }
}

.logo-footer {
    @media (min-width: 320px){
       display: none; 
    }

    @media (min-width: 768px){
        display: block;
        width: 150px; height: 53px;
        background: url('../images/sprite/main-sprites.png') -10px -80px;
    }
}

/* Icon */
.icon-calculate {
    width: 61px; height: 61px;
    background: url('../images/sprite/main-sprites.png') -88px -153px;
}

.icon-line {
    width: 5px; height: 23px;
    background: url('../images/sprite/main-sprites.png') -82px -242px;
}

.icon-login {
    width: 15px; height: 14px;
    background: url('../images/sprite/main-sprites.png') -239px -153px;
}

.icon-mainbanner {
    width: 169px !important; height: 50px;
    background: url('../images/sprite/main-sprites.png') -10px -10px;
}

.icon-notice {
    width: 50px; height: 50px;
    background: url('../images/sprite/main-sprites.png') -272px -74px;
}

.icon-qa {
    width: 50px; height: 50px;
    background: url('../images/sprite/main-sprites.png') -169px -153px;
}

.icon-parkinglot {
    width: 58px; height: 69px;
    background: url('../images/sprite/main-sprites.png') -10px -153px;
}

.icon-reduction {
    width: 53px; height: 50px;
    background: url('../images/sprite/main-sprites.png') -199px -74px;
}

.icon-unpaid {
    width: 52px; height: 66px;
    background: url('../images/sprite/main-sprites.png') -10px -242px;
}

.icon-more {
    width: 50px; height: 50px;
    background: url('../images/sprite/more-sprites.png') -10px -10px;
}

.icon-more-hover {
    width: 50px; height: 50px;
    background: url('../images/sprite/more-sprites.png') -10px -80px;
}

.icon-line-mo {
    width: 50px; height: 50px;
    background: url('../images/icon/icon-line-mo.png');
}

.icon-line-pc {
    width: 50px; height: 50px;
    background: url('../images/icon/icon-line-pc.png');
}

/* mobile */
.icon-arrow-l {
    width: 35px; height: 35px;
    background: url('../images/sprite/mainM-sprites.png') -10px -56px;
}

.icon-arrow-r {
    width: 35px; height: 35px;
    background: url('../images/sprite/mainM-sprites.png') -65px -56px;
}

.icon-login-nor {
    width: 20px; height: 19px;
    background: url('../images/sprite/mainM-sprites.png') -140px -60px;
}

.icon-login-sel {
    width: 20px; height: 19px;
    background: url('../images/sprite/mainM-sprites.png') -10px -111px;
}

.icon-line-mo {
    width: 5px; height: 23px;
    background: url('../images/sprite/mainM-sprites.png') -190px -10px;
}

.icon-qa-mo {
    width: 16px; height: 17px;
    background: url('../images/sprite/mainM-sprites.png') -50px -111px;
}

.icon-notice-mo {
    width: 30px; height: 30px;
    background: url('../images/sprite/mainM-sprites.png') -140px -10px;
}

