@charset "UTF-8";

// *----------------------------
//	MixinList
// ----------------------------*

@mixin areaLine($line: $red){
    border: 1px solid $line;
}

// *----------------------------
//	Image
// ----------------------------*
@mixin imagePush($directory : "git", $number : "01"){
    background: url("../images/img-"+ $directory + "-" + $number + ".png") no-repeat;
    background-size: contain;
    height: 200px;
    border: 1px solid orange;
}

@mixin captionPush($directory: "projectitem"){
    counter-reset: num;
    counter-increment: num;
    background: url("images/capture/capture-"+ $directory + "-" + counter(num) + ".png") no-repeat;
    height: 250px;
}

// *----------------------------
//	gradient
// ----------------------------*
@mixin linear-gradient1($from : #87DF6E, $to : #2D7E16){
    /*하위 버전 브라우저*/
    background-color: $to;
    /*Mozilla Firefox*/
    background-image: -moz-linear-gradient($from, $to);
    /*Opera*/
    background-image: -o-linear-gradient($from, $to);
    /*Webkit (safari 4+, Chrome 1+)*/
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
    /*Webkit (Chrome 11+)*/
    background-image : -webkit-linear-gradient($from, $to);
    /* IE10 */
    background-image: -ms-linear-gradient($from, $to);
    /*W3C*/
    background-image: linear-gradient($from, $to);
}

@mixin linear-gradient2($from : #87DF6E, $to : #2D7E16){
    /*하위 버전 브라우저*/
    background-color: $to;
    /*Mozilla Firefox*/
    background-image: -moz-linear-gradient(to right, $from, $to);
    /*Opera*/
    background-image: -o-linear-gradient(to right, $from, $to);
    /*Webkit (safari 4+, Chrome 1+)*/
   background-image: -webkit-gradient(linear,to right , color-stop(0, $from), color-stop(1, $to));
    /*Webkit (Chrome 11+)*/
    background-image : -webkit-linear-gradient(to right, $from, $to);
    /* IE10 */
    background-image: -ms-linear-gradient(to right, $from, $to);
    /*W3C*/
    background-image: linear-gradient(to right, $from, $to);
}


// *----------------------------
//	Btn
// ----------------------------*
@mixin btnType2($color: $btnColor, $width: 100px, $height: 40px, $size: 14px){
	display: block;
    background:$color !important;
	border: 0;
	border-radius: 4px;
	width: $width !important;
	height: $height;
	text-align: center;
	color: $white !important;
	
	line-height: $height;
	
	@if ($size == 12px){
		@media (min-width: 320px){font-size: 3.3333vw;}
		@media (min-width: 768px){font-size: 12px;}
	}@else if ($size == 14px){
		@media (min-width: 320px){font-size: 3.8889vw;}
		@media (min-width: 768px){font-size: 14px;}
	}@else if ($size == 15px){
		@media (min-width: 320px){font-size: 4.1667vw;}
		@media (min-width: 768px){font-size: 15px;}
	}@else{
		font-size: $size;
	}
}

@mixin btnType($color: $btnColor, $width: 100px, $height: 40px, $size: 14px){
	display: block;
    border: 1px solid $color;
	border-radius: 4px;
	background: $white !important;
	width: $width;
	height: $height;
	text-align: center;
	color: $color !important;
	font-size: $size;
	line-height: $height;
}

@mixin btnHover($color: $btnColor, $transparency : 5%){
	background: darken($color, $transparency) !important;
    color: #fff !important;
}