@charset "UTF-8";

// *----------------------------
//	MixinList
// ----------------------------*

@mixin areaLine($line: $red){
    border: 1px solid $line;
}

// *----------------------------
//	Image
// ----------------------------*
@mixin imagePush($directory : "main", $number : "01"){
    background: url("../images/capture/img-"+ $directory + "-" + $number + ".png") no-repeat;
    background-size: cover;
}

@mixin captionPush($directory: "main"){
    counter-reset: num;
    counter-increment: num;
    background: url("images/capture/img-"+ $directory + "-" + counter(num) + ".png") no-repeat;
    height: 250px;
}

// *----------------------------
//	Gradient
// ----------------------------*
@mixin linear-gradient1($from : #87DF6E, $to : #2D7E16){
    /*하위 버전 브라우저*/
    background-color: $to;
    /*Mozilla Firefox*/
    background-image: -moz-linear-gradient($from, $to);
    /*Opera*/
    background-image: -o-linear-gradient($from, $to);
    /*Webkit (safari 4+, Chrome 1+)*/
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
    /*Webkit (Chrome 11+)*/
    background-image : -webkit-linear-gradient($from, $to);
    /* IE10 */
    background-image: -ms-linear-gradient($from, $to);
    /*W3C*/
    background-image: linear-gradient($from, $to);
}

@mixin linear-gradient2($from : #87DF6E, $to : #2D7E16){
    /*하위 버전 브라우저*/
    background-color: $to;
    /*Mozilla Firefox*/
    background-image: -moz-linear-gradient(to right, $from, $to);
    /*Opera*/
    background-image: -o-linear-gradient(to right, $from, $to);
    /*Webkit (safari 4+, Chrome 1+)*/
   background-image: -webkit-gradient(linear,to right , color-stop(0, $from), color-stop(1, $to));
    /*Webkit (Chrome 11+)*/
    background-image : -webkit-linear-gradient(to right, $from, $to);
    /* IE10 */
    background-image: -ms-linear-gradient(to right, $from, $to);
    /*W3C*/
    background-image: linear-gradient(to right, $from, $to);
}
// *----------------------------
//	Bullet
// ----------------------------*
@mixin circle($width: 160px, $height: 160px){
    width: $width;
    height: $height;
    border-radius: 50%;
}

@mixin Darken($color: $blue){
    background:darken($color, 5%);
}

