@charset "UTF-8";

// *----------------------------
//	Color
// ----------------------------*
$white : #ffffff;
$gray  : #cccccc;
$black : #020210;
$red   : #ff0000;
$bgGray: #f6f6f6;
$fontGray6:#666666;
$fontGray9: #999999;
$blue : #0051A3;
$fontHover: #0075C1;
