@charset "UTF-8";

// *----------------------------
//	Color
// ----------------------------*
$white : #ffffff;
$gray  : #cccccc;
$black : #333333;
$red   : #ff0000;
$blue : #0051A3;
$yellow : #FFF2AF;

$bgGray: #f6f6f6;
$fontGray6:#666666;
$fontGray9: #999999;
$fontHover: #0075C1;
$sliderFont:#192E4E;

$gradient: transparent linear-gradient(#0075C1 0%, #083190 100%);
$gradientHover: transparent linear-gradient(#005E9C 0%, #001851 100%);