<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO - Vue.js</title>

    <!-- Cascading Style Sheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">

    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script defer src="../../assets/js/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
    <!-- Header Area -->
    <header id="header"></header>

    <!-- Quick Menu -->
    <section>
        <aside class="Quick">
            <h2>QUICK</h2>
            <ul>
                <li><a href="#">TOP</a></li>
            </ul>
        </aside>
    </section>

    <!-- Main Content -->
    <main id="container">
        <h2>Vue.js</h2>
        <p class="notice">해당 내용은 인프런 (장기효)님의 동영상 강의를 정리 한것입니다.</p>
        <section id="tabList">
            <article data-tab="beginner" class="current">초급</article>
            <article data-tab="middleClass">중급</article>
            <article data-tab="highClass">고급</article>
            <article data-tab="applications">응용</article>
        </section>
        <section id="beginner" class="tab-content current">
            <section id="">    
                <h3>초기설정</h3>
                <h4>devtools 설치</h4>
                <article class="explanation-box">
                    <ul>
                        <li>크롬 개발자도구에서 vue.js를 확인할 수 있는 tools</li>
                        <li><a href="https://chrome.google.com/webstore/detail/vuejs-devtools/nhdogjmejiglipccpnnnanhbledajbpd">바로가기</a></li>
                    </ul>
                </article>
                <h4>CDN</h4>
                <article class="explanation-box">
                    &lt;script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"&gt;&lt;/script&gt;
                </article>
            </section>
            <section>
                <h3>Vue 이해하기</h3>
                <h4>기존 웹개발 방식</h4>
                <pre>
                    &lt;div id="app"&gt;&lt;/div&gt;   
                    &lt;script&gt;
                        var div = document.querySelector('#app');
                        var str = 'Hello world';
                        console.log(div);
                        div.innerHTML = str;

                        str = 'Hello world!!!';

                        div.innerHTML = str;  
                    &lt;/script&gt;
                </pre> 
                <table class="default-table">
                    <caption class="sr-only">기존 웹 개발 방식</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>기존 웹 개발 방식</th>
                            <td>변수 값이 바뀌었을 경우 재정의 해야 함</td>
                        </tr>
                    </tbody> 
                </table>             
                <h4>Reactivity(반응성) 구현</h4>
                <pre>
                    &lt;div id="app"&gt;&lt;/div&gt;   
                    &lt;script&gt;
                        var div = document.querySelector('#app');
                        var viewModel = {};

                        (function(){
                            function init(){
                                Object.defineProperty(viewModel, 'str', {
                                    get: function(){
                                        console.log('접근');
                                    },

                                    set: function(newValue){
                                        console.log('할당', newValue);
                                        render(newValue);
                                    }
                                });
                            }
                            
                            function render(value) {
                                div.innerHTML = value;
                            }

                            init();
                        })();
                    &lt;/script&gt;
                </pre>
                <table class="default-table">
                    <caption class="sr-only">Reactivity 구현</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>Reactivity</th>
                            <td>라이브러리에서 감지 하여 알아서 재정의</td>
                        </tr>
                        <tr>
                            <th>defineProperty()</th>
                            <td>라이브러리를 재정의 하는 함수</td>
                        </tr>
                    </tbody> 
                </table>
            </section>
            <section>
                <h3>인스턴스</h3>
                <p class="notice">뷰로 개발할 때 필수로 생성해야 하는 코드</p>
                <h4>인스턴스 생성</h4>
                <pre>new Vue();</pre>
                <h4>인스턴스 활용</h4>
                <pre>
                    let vm = new Vue({
                        el : "#app",
                        data: {
                            message:'hello'
                        }
                    });
                </pre>
                <h4>인스턴스 API</h4>
                <table class="default-table">
                    <caption class="sr-only">인스턴스 API</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">인스턴스 API </th>
                            <td>
                                <p class="vue-03"></p>
                                <p>구글 console창에 변수명을 입력하면 확인가능</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4>기본적인 인스턴스 속성</h4>
                <pre>
                    &lt;div id="app"&gt;{{message}}&lt;/div&gt;
                    &lt;script&gt;
                        var vm = new Vue({
                            el: '#app',
                            data: {
                                message: 'hi'
                            },
                            methods:{

                            },
                            created: function(){

                            }
                        });
                    &lt;/script&gt;
                </pre>   
                <table class="default-table">
                    <caption class="sr-only">기본적인 인스턴스 속성</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">el </th>
                            <td>인스턴스가 그려지는 화면의 시작점 (특정 HTML 태그)</td>
                        </tr>
                        <tr>
                            <th>template</th>
                            <td>화면에 표시할 요소 (HTML, CSS등)</td>
                        </tr>
                        <tr>
                            <th>data</th>
                            <td>뷰에 반응성 (Reactivity)가 반영된 데이터 속성</td>
                        </tr>
                        <tr>
                            <th>methods</th>
                            <td>화면의 동작과 이벤트 로직을 제어하는 메서드</td>
                        </tr>
                        <tr>
                            <th>created</th>
                            <td>뷰의 라이프 사이클과 관련된 속성</td>
                        </tr>
                        <tr>
                            <th>watch</th>
                            <td>data에서 정의한 속성이 변화했을 때 추가 동작을 수행할 수 있게 정의하는 속성</td>
                        </tr>
                    </tbody>
                </table>               
            </section>
            <section>
                <h3>뷰 컴포넌트</h3>
                <p class="notice">화면의 영역을 구분하여 개발할 수 있는 뷰의 기능 (재사용성 용이)</p>
                <h4>컴포넌트 기본문법</h4>
                <article class="explanation-box">
                    Vue.component("컴포넌트 이름", 컴포넌트 내용);
                </article>
                <h4>컴포넌트 활용(전역컴포넌트)</h4>
                <pre>
                    &lt;div id="app"&gt;
                        &lt;app-header&gt;&lt;/app-header&gt;
                        &lt;app-contents>&lt;/app-contents&gt;
                    &lt;/div&gt;
                    &lt;script&gt;
                        Vue.component('app-header', {
                            template: '&lt;h1&gt;Header&lt;/h1&gt;'
                        });

                        Vue.component('app-contents', {
                            template: '&lt;div&gt;Content&lt;/div&gt;'
                        });
                        new Vue({
                            el : "#app"
                        });
                    &lt;/script&gt;
                </pre>
                <h4>컴포넌트 활용(지역컴포넌트)</h4>
                <pre>
                    &lt;div id="app"&gt;
                        &lt;app-footer&gt;&lt;/app-footer&gt;
                    &lt;/div&gt;
                    &lt;script&gt;
                        new Vue({
                            el : "#app",
                            components:{
                                'app-footer':{
                                    template: '&lt;footer&gt;Footer&lt;/footer&gt;'
                                }
                            }
                        });
                    &lt;/script&gt;
                </pre>
                <h4>컴포넌트 활용결과</h4>
                <pre>
                    <div id="app">
                        <beginner-header></beginner-header>
                        <beginner-contents></beginner-contents>
                        <beginner-footer></beginner-footer>
                    </div>
                </pre>
            </section>
            <section>
                <h3>컴포넌트간에 통신(props)</h3>
                <p class="notice">상위 컴포넌트에서 하위 컴포넌트로 데이터를 전달 </p>
                <h4>Props 기본문법</h4>
                <article class="explanation-box">
                    &lt;app-header v-bind: 프롭스 속성 이름="상위 컴포넌트의 데이터 이름"&gt; &lt;/app-header &gt; 
                </article>
                <h4>Props 활용</h4>
                <pre>
                    &lt;div id="app-props"&gt;
                        &lt; app-header v-bind:approps='message'&gt; &lt;/app-header&gt;
                    &lt;/div &gt;
                    &lt;script&gt;
                        let appHeader = {
                            template: "&lt;h1&gt;{{ approps }}&lt;/h1&gt;",
                            props : ['approps']
                        }
    
                        new Vue ({
                            el : "#app-props",
                            components:{
                                "app-header": appHeader
                            },
                            data:{
                                message : 'hi'
                            }
                        })
                    &lt;/script&gt;
                </pre>
                <h4>Props 결과</h4>
                <pre><div>
                        <app-header v-bind:approps='message'></app-header>
                </div></pre>
            </section>
            <section>
                <h3>컴포넌트간에 통신(이벤트Emit)</h3>
                <p class="notice">하위 컴포넌트에서 상위 컴포넌트로 이벤트를 발생 </p>
                <h4>Emit 기본문법</h4>
                <article class="explanation-box">
                    &lt;app-header v-on: 하위 컴포넌트에서 발생한 이벤트 이름 = "상위 컴포넌트의 메서드 이름"&gt;&lt;/app-header&gt;
                </article>
                <h4>Emit 활용</h4>
                <pre>
                    &lt;div id="appEmit"&gt;
                        &lt; emit-header v-on:pass="logText"&gt; &lt;/emit-header &gt;
                        &lt; emit-content v-on:increase="addNum"&gt; &lt;/emit-content &gt;
                        &lt; p&gt;{{ num }}&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;script&gt;
                        let emitHeader = {
                            template: '&lt;button v-on:click="passEvent"&gt;click me&lt;/button&gt;',
                            methods:{
                                passEvent: function(){
                                    this.$emit('pass');
                                }
                            }
                        }
    
                        let emitContent = {
                            template: '&lt;button v-on:click="passNum"&gt;add&lt;/button&gt;',
                            methods:{
                                passNum: function(){
                                    this.$emit('increase');
                                }
                            }
                        }
                        new Vue({
                            el : "#appEmit",
                            components: {
                                'emit-header' : emitHeader,
                                'emit-content' : emitContent
    
                            },
                            methods:{
                                logText: function(){
                                    console.log('hi');
                                    
                                },
                                addNum: function(){
                                    this.num = this.num +1;
                                }
                            },
                            data:{
                                num : 10
                            }
                        })
                    &lt;/script&gt;
                </pre>
                <h4>Emit 확인</h4>
                <table class="default-table">
                    <caption class="sr-only">Emit 확인</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">개발자도구에서 확인 </th>
                            <td>
                                <p class="vue-04"></p>
                                <p>개발자도구 " <span class="bold"> vue탭 -> 이벤트 </span> " 에서 확인</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4>결과</h4>
                <pre>
                    <div id="appEmit">
                        <emit-header v-on:pass="logText"></emit-header>
                        <emit-content v-on:increase="addNum"></emit-content>
                        <p>{{ num }}</p>
                    </div>
                </pre>
            </section>
            <section>
                <h3>같은 컴포넌트간에 통신방법</h3>
                <h4>이해하기</h4>
                <p class="notice">
                    같은 컴포넌트간에 통신방법에 대해 알아보기
                </p>
                <table class="default-table">
                    <caption class="sr-only">같은 컴포넌트간에 통신방법</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">방법</th>
                            <td>
                                <p class="vue-05"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4>결과</h4>
                <pre>
                    <div>Root : {{ samenum }}
                        <same-header v-bind:sameprops="samenum"></same-header>  
                        <same-content v-on:pass="sameLevel"></same-content>
                    </div>
                </pre>
            </section>
            <section>
                <h3>뷰 라우터 (Router)</h3>
                <p class="notice">뷰 라이브러리를 이용하여 싱글 페이지 애플리케이션을 구현하거나 페이지간에 이동할 때 사용</p>
                <h4>기본문법</h4>
                <pre>
                    &lt;div id="routerApp"&gt;
                    &lt;router-view&gt;&lt;/router-view&gt;
                    &lt;/div&gt;
                    &lt;script&gt;
                    var LoginComponent = {
                        template: '&lt;div&gt;login&lt;/div&gt;'
                    }
    
                    var MainComponent= {
                        template: '&lt;div&gt;Main&lt;/div&gt;'
                    }
                    var router =  new VueRouter({
                        // url 해쉬태그 제거
                        mode: 'history', 
    
                        // 페이지의 라우팅 정보
                        routes: [
                            {
                                // 페이지의  url 이름
                                path: '/login',
                                
                                // 해당 url에서 표시될 컴포넌트
                                component: LoginComponent
                            },
                            {
                                path: '/main',
                                component: MainComponent
                            }
                        ]
                    });
    
                    new Vue({
                        el: "#routerApp",
                        router: router
                    });
                    &lt;/script&gt;
                </pre>
                <h4>라우터 결과확인</h4>
                <p class="notice">
                    url 주소 마지막에 path값(main, login)을 넣어본다. 
                </p>
                <pre>
                    <div>
                        <router-view></router-view>
                    </div>
                </pre>
                <h4>라우터 링크 (router-link)</h4> 
                <p class="notice">
                        사용자 입장에서 페이지 이동가능하게 a태그 기능
                </p>
                <pre>
                    &lt;div id="app"&gt;
                        &lt;div&gt;
                            &lt;<span class="red">router-link</span> to="/login"&gt;Login&lt;/router-link&gt;
                            &lt;<span class="red">router-link</span> to="/main"&gt;Main&lt;/router-link&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                </pre> 
            </section>
            <section>
                <h3>템플릿 문법</h3>
                <p class="notice">뷰로 화면을 조작하는 방법을 의미 (데이터 바인딩과 디렉티브로 나눔)</p>
                <h4>데이터 바인딩</h4>
                <article class="explanation-box">
                    데이터 바인딩은 뷰 인스턴스에서 정의한 속성들을 화면에 표시하는 방법
                </article>
                <pre>
                    &lt;div&gt;<span class="red">{{ message }}</span>&lt;/div&gt;
                    &lt;script&gt;
                        new Vue ({
                            data: {
                                'hello world'
                            }
                        })
                    &lt;/script&gt;
                </pre>
                <h4>디렉티브</h4>
                <article class="explanation-box">
                    뷰로 화면의 요소를 더 쉽게 조작하기 위한 문법으로 화면조작에서 자주 사용되는 방식들을 모아 디렉티브 형태로 제공
                </article>
                <pre>
                    &lt;div&gt;
                        Hello &lt;span <span class="red">v-if</span>="show"&gt;Vue.js&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;script&gt;
                        new Vue ({
                            data:{
                                show: false
                            }    
                        })
                    &lt;/script&gt;
                </pre>
            </section>
            <section>
                <h3>템플릿 속성</h3>
                <table class="default-table">
                    <caption class="sr-only">템플릿 속성 (v-model)</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">v-model</th>
                            <td>
                                <p>input에 입력된 텍스트 값을 동적으로 바로 vue 인스턴스안에 매핑</p>
                                    <input type="text" v-model="message" placeholder="edit me">
                                    <p>{{ message }}</p>
                                </div>                            
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">v-on:click</th>
                            <td>
                                <p>onClick 이벤트</p>
                                
                                <input type="text" v-model="clickConfirm">
                                <button v-on:click="addClick">add</button>                      
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">computed</th>
                            <td>
                                <p>데이터의 값이 바뀔때 사용</p>
                                <div>
                                    <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p>
                                    <p>{{ doubleNum }}</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">v-if</th>
                            <td id="vif">
                                <p></p>
                                <div v-if="loading">
                                    Loading...
                                </div>
                                <div v-else>
                                    test user has been logged in
                                </div>
                                <div v-show="loading">
                                    로딩중입니다.
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h3>computed</h3>
                <p class="notice">computed 는 많이 사용되는 템플릿 문법이다. (watch는 지양)</p>
                <h4>computed 활용예시</h4>
                <pre>
                    &lt;div id="computed"&gt;
                        &lt;p v-bind:class="errorTextColor">Hello&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;script&gt;
                        new Vue({
                            el : '#computed',
                            data:{
                                cname: 'blue-text',
                                isError: false
                            },
                            computed: {
                                errorTextColor: function(){
                                    return this.isError ? 'warning' : null;
                                }
                            }
                        });
                    &lt;/script&gt;    
                </pre>
                <pre>
                    <div>
                        <p v-bind:class="errorTextColor">Hello</p>
                    </div>
                </pre>
            </section> 
        </section>
        <section id="middleClass" class="tab-content">
            <section id="">
                <h3>Vue CLI 이해하기</h3>
                <table class="default-table">
                    <caption class="sr-only">Vue CLI 사용법</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">vue 파일 생성 </th>
                            <td>
                                <ul>
                                    <li>파일명은 두단어 이상 연결하여 사용</li>
                                    <li>파스칼표키법 사용 (PascalCase)</li>
                                    <li>MainHeader</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">기본태그 생성</th>
                            <td>
                                <ul>
                                    <li>"<span class="bold">vue</span>" 입력 후 탭키 클릭(4.x 버전)</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h3>node.js 명령어(터미널)</h3>
                <table class="default-table">
                    <caption class="sr-only">node.js 명령어</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">ls </th>
                            <td>파일목록 알아보기</td>
                        </tr>
                        <tr>
                            <th>cd</th>
                            <td>파일 선택</td>
                        </tr>
                        <tr>
                            <th>프로젝트 생성</th>
                            <td>
                                <ul>
                                    <li>vue create [프로젝트 명]</li>
                                    <li>* powershell이 오류가 날 경우 "<span class="bold">bash</span>"를 이용하여 생성</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>server 실행</th>
                            <td>"<span class="bold">npm run serve</span>" 명령어로 실행 (server가 아닌 serve가 맞음) </td>
                        </tr>
                        <tr>
                            <th>axios 설치</th>
                            <td>"<span class="bold">npm i axios</span>" 명령어를 실행 </td>
                        </tr>
                        <tr>
                            <th>터미널 종료</th>
                            <td> Ctrl + c</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h3>axios</h3>
                <p class="notice"> 뷰에서 권고하는 HTTP 통신 라이브러리 (api가 다양함)</p>
                <h4>axios 설치방법</h4>
                <table class="default-table">
                    <caption class="sr-only">axios 설치방법</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">axios 설치방법 </th>
                            <td>
                                터미널에 "<span class='bold'> npm i axios</span> 입력"
                            </td>
                        </tr>
                        <tr>
                            <th>테스트 사이트</th>
                            <td>
                                <a href="https://jsonplaceholder.typicode.com/">https://jsonplaceholder.typicode.com/</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h3>속성</h3>
                <h4>style 속성</h4>
                <table class="default-table">
                    <caption class="sr-only">style 속성</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">scoped </th>
                            <td>
                                <figure>
                                    <img src="../../assets/images/sub/vue/img-vue-02.png" alt="scoped">
                                    <figcaption>해당 컴포넌트 안에서만 적용</figcaption>
                                </figure>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h3>Method</h3>
                <h4>localStorage.setItem()</h4>
                <table class="default-table">
                    <caption class="sr-only">localStorage.setItem()</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">localStorage.setItem() 이해</th>
                            <td>
                                <ul>
                                    <li>저장하는 로직</li>
                                    <li>"<span class="bold">Application > storage > Local Storage > </span>" 안에서 확인 </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4>prevent</h4>
                <table class="default-table">
                    <caption class="sr-only">prevent의 이해</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">활용</th>
                            <td>
                                <ul>
                                    <li>세로고침없이 작업</li>
                                    <li>자바스크립트의 event.preventDefault() 같은기능</li>
                                </ul>
                                <pre>
                                    &lt;form v-on:submit.<span class="red">prevent</span>="subitForm"&gt;
                                        ...
                                    &lt;/form&gt;
                                </pre>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </section>
        <section id="highClass" class="tab-content">
            <section id="">
                <h3>준비중</h3>
            </section>
        </section>
        <section id="applications" class="tab-content">
            <section>
                <h3>사용자 입력폼 만들기</h3>
                <article class="explanation-box">
                    <figure>
                        <img src="../../assets/images/sub/vue/img-vue-06.png" alt="vue 설명">
                    </figure>
                </article>
                <h4>마크업 작업</h4>
                <pre>
                    &lt;form&gt;
                        &lt;div&gt;
                            &lt;label for="username"&gt;id: &lt;/label&gt;
                            &lt;input type="text" id="username"&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;label for="password"&gt;PW : &lt;/label&gt;
                            &lt;input type="password" id="password"&gt;
                        &lt;/div&gt;
                        &lt;button type="submit"&gt;Login&lt;/button&gt;  
                    &lt;/form&gt;
                </pre>
                <h4>속성과 이벤트 처리</h4>
                <pre>
                    &lt;form <span class="red">v-on:submit.prevent="subitForm"</span>&gt;
                        &lt;div&gt;
                            &lt;label for="username"&gt;id: &lt;/label&gt;
                            &lt;input type="text" id="username" <span class="red">v-model="username"</span>&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;label for="password"&gt;PW : &lt;/label&gt;
                            &lt;input type="password" id="password" <span class="red"></span>v-model="password"</span></span>&gt;
                        &lt;/div&gt;
                            &lt;button type="submit"&gt;Login&lt;/button&gt;  
                    &lt;/form&gt;
                </pre>
                <pre>
                    <span class="red">
                    &lt;script&gt;
                        export default {
                          data: function(){
                            return {
                              username: '',
                              password: '',
                            }
                          },
                          methods: {
                            subitForm: function(event) {
                              console.log(this.username, this.password);

                              var data = {
                                username: this.username,
                                password: this.password
                              }
                            }
                          }
                        }
                    &lt;/script&gt;
                    </span>
                </pre>
                <h4>axios를 이용한 데이터 전송 및 구현</h4>
                <pre>
                    &lt;form v-on:submit.prevent="subitForm"&gt;
                        &lt;div&gt;
                            &lt;label for="username"&gt;id: &lt;/label&gt;
                            &lt;input type="text" id="username" v-model="username"&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;label for="password"&gt;PW : &lt;/label&gt;
                            &lt;input type="password" id="password"v-model="password"&gt;
                        &lt;/div&gt;
                            &lt;button type="submit"&gt;Login&lt;/button&gt;  
                    &lt;/form&gt;
                </pre>
                <pre>   
                    &lt;script&gt;
                        <span class="red">import axios from 'axios';</span>
                        
                        export default {
                          data: function(){
                            return {
                              username: '',
                              password: '',
                            }
                          },
                          methods: {
                            subitForm: function(event) {
                              console.log(this.username, this.password);

                              <span class="red">var url = 'https://jsonplaceholder.typicode.com/users';</span>
                              var data = {
                                username: this.username,
                                password: this.password
                              }
                              <span class="red">
                              axios.post(url, data)
                              .then(function(response){
                                console.log(response);
                              })
                              .then(function(error){
                                console.log(error)
                              });
                            </span>
                            }
                          }
                        }
                    &lt;/script&gt;
                </pre>
            </section>
        </section>
    </main>
    <!-- Footer Area-->
    <footer id="footer"></footer>
    <script>
        $('#tabList article').click(function(){
            var tab_id = $(this).attr('data-tab');

            $('#tabList article').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
        })

        // Vue.component('컴포넌트 이름', 컴포넌트 내용);
        Vue.component('beginner-header', {
            template: '<h1>Header</h1>'
        });
    
        Vue.component('beginner-contents', {
            template: '<div>Content</div>'
        });

        let appHeader = {
            template: "<h1>{{ approps }}</h1>",
            props : ['approps']
        }

        let emitHeader = {
            template: '<button v-on:click="passEvent">click me</button>',
            methods:{
                passEvent: function(){
                    this.$emit('pass');
                }
            }
        }
    
        let emitContent = {
            template: '<button v-on:click="passNum">add</button>',
            methods:{
                passNum: function(){
                    this.$emit('increase');
                }
            }
        }

        let sameLavelHeader = {
            template : '<div>AppHeader :</div>',
            props:['sameprops']
        }

        let sameLavelContent = {
            template: '<div>Content<button v-on:click="sameNum">pass</button></div>',
            methods:{
                sameNum: function(){
                    this.$emit('pass', 10)
                }
            }
        }

        let LoginComponent = {
            template: '<div>login</div>'
        }
    
        let MainComponent= {
            template: '<div>Main</div>'
        }

        let router =  new VueRouter({
            //mode: 'history', 

            routes: [
                {
                    path: '/login',
                    component: LoginComponent
                },
                {
                    path: '/main',
                    component: MainComponent
                }
            ]
        });

        new Vue({
            el :'#beginner',
            data:{
                message: 'hi',
                num : 15,
                samenum : 5,
                clickConfirm: '',
                loading: true,
                uuid : 'number',
                name: 'text-blue',
                cname: 'blue-text',
                isError: false
            },

            components : {
                'beginner-footer' : {
                    template: '<div>Footer</div>'
                },
                "app-header": appHeader,
                'emit-header' : emitHeader,
                'emit-content' : emitContent,
                'same-header' : sameLavelHeader,
                'same-content' : sameLavelContent
            },

            methods : {
                logText: function(){
                    console.log('hi');   
                },

                addNum: function(){
                    this.num = this.num +1;
                },

                sameLevel: function(value){
                    this.num = value;
                },

                addClick: function(){
                    console.log(this.clickConfirm);

                    //저장하는 로직
                    localStorage.setItem(this.clickConfirm, this.clickConfirm);
                    //초기화 로직
                    this.clickConfirm= '';
                }
            },
            
            // 데이터의 값이 바뀔때 사용
            computed:{
                doubleNum: function(){
                    return this.num * 2;
                },

                errorTextColor: function(){
                    return this.isError ? 'warning' : null;
                }
            },
            router: router
        })

        new Vue({
            el :'#middleClass'
        });
    </script>   
</body>
</html>