<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO - Vue.js</title>

    <!-- Cascading Style Sheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">

    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script defer src="../../assets/js/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!-- Header Area -->
    <header id="header"></header>

    <!-- Quick Menu -->
    <section>
        <aside class="Quick">
            <h2>QUICK</h2>
            <ul>
                <li><a href="">준비중</a></li>
                <li><a href="">준비중</a></li>
                <li><a href="">준비중</a></li>
                <li><a href="">준비중</a></li>
            </ul>
        </aside>
    </section>

    <!-- Main Content -->
    <main id="container">
        <section id="app">
            <section id="">
                <h2>Vue.js</h2>
                <p class="notice">해당 내용은 인프런 (장기효)님의 동영상 강의를 정리 한것입니다.</p>
                <h3>초기설정</h3>
                <h4>devtools 설치</h4>
                <article class="explanation-box">
                    <ul>
                        <li>크롬 개발자도구에서 vue.js를 확인할 수 있는 tools</li>
                        <li><a href="https://chrome.google.com/webstore/detail/vuejs-devtools/nhdogjmejiglipccpnnnanhbledajbpd">바로가기</a></li>
                    </ul>
                </article>
                <h4>CDN</h4>
                <article class="explanation-box">
                    &lt;script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"&gt;&lt;/script&gt;
                </article>
            </section>
            <section id="">
                <h3>Vue 이해하기</h3>
                <h4>기존 웹개발 방식</h4>
<pre>&lt;div id="app"&gt;&lt;/div&gt;   

&lt;script&gt;
    var div = document.querySelector('#app');
    var str = 'Hello world';
    console.log(div);
    div.innerHTML = str;

    str = 'Hello world!!!';

    div.innerHTML = str;  
&lt;/script&gt;</pre> 
            <table class="default-table">
                <caption class="sr-only">기존 웹 개발 방식</caption>
                <colgroup>
                    <col style="width: 25%" />
                    <col style="width: 75%" />
                </colgroup>
                <tbody>
                    <tr>
                        <th>기존 웹 개발 방식</th>
                        <td>변수 값이 바뀌었을 경우 재정의 해야 함</td>
                    </tr>
                </tbody> 
            </table>             
                <h4>Reactivity(반응성) 구현</h4>
<pre>&lt;div id="app"&gt;&lt;/div&gt;   

&lt;script&gt;
    var div = document.querySelector('#app');
    var viewModel = {};

    (function(){
        function init(){
            Object.defineProperty(viewModel, 'str', {
                get: function(){
                    console.log('접근');
                },

                set: function(newValue){
                    console.log('할당', newValue);
                    render(newValue);
                }
            });
        }
        
        function render(value) {
            div.innerHTML = value;
        }

        init();
    })();
&lt;/script&gt;</pre>
            <table class="default-table">
                <caption class="sr-only">Reactivity 구현</caption>
                <colgroup>
                    <col style="width: 25%" />
                    <col style="width: 75%" />
                </colgroup>
                <tbody>
                    <tr>
                        <th>Reactivity</th>
                        <td>라이브러리에서 감지 하여 알아서 재정의</td>
                    </tr>
                    <tr>
                        <th>defineProperty()</th>
                        <td>라이브러리를 재정의 하는 함수</td>
                    </tr>
                </tbody> 
            </table>
            </section>
            <section>
                <h3>인스턴스</h3>
                <p class="notice">뷰로 개발할 때 필수로 생성해야 하는 코드</p>
                <h4>인스턴스 생성</h4>
                <pre>new Vue();</pre>
                <h4>인스턴스 활용</h4>
                <pre>
                let vm = new Vue({
                    el : "app",
                    data: {
                        message:'hello'
                    }
                });</pre>
                <h4>인스턴스 API</h4>
                <table class="default-table">
                    <caption class="sr-only">인스턴스 API</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">인스턴스 API </th>
                            <td>
                                <p class="vue-01"></p>
                                <p>구글 console창에 변수명을 입력하면 확인가능</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4>기본적인 인스턴스 속성</h4>
                <pre>
&lt;div id="app"&gt;{{message}}&lt;/div&gt;
&lt;script&gt;
    var vm = new Vue({
        el: '#app',
        data: {
            message: 'hi'
        },
        methods:{

        },
        created: function(){

        }
    });
&lt;/script&gt;</pre>
                
                <table class="default-table">
                    <caption class="sr-only">기본적인 인스턴스 속성</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">el </th>
                            <td>인스턴스가 그려지는 화면의 시작점 (특정 HTML 태그)</td>
                        </tr>
                        <tr>
                            <th>template</th>
                            <td>화면에 표시할 요소 (HTML, CSS등)</td>
                        </tr>
                        <tr>
                            <th>data</th>
                            <td>뷰에 반응성 (Reactivity)가 반영된 데이터 속성</td>
                        </tr>
                        <tr>
                            <th>methods</th>
                            <td>화면의 동작과 이벤트 로직을 제어하는 메서드</td>
                        </tr>
                        <tr>
                            <th>created</th>
                            <td>뷰의 라이프 사이클과 관련된 속성</td>
                        </tr>
                        <tr>
                            <th>watch</th>
                            <td>data에서 정의한 속성이 변화했을 때 추가 동작을 수행할 수 있게 정의하는 속성</td>
                        </tr>
                    </tbody>
                </table>               
            </section>
            <section>
                <h3>뷰 컴포넌트</h3>
                <p class="notice">화면의 영역을 구분하여 개발할 수 있는 뷰의 기능 (재사용성 용이)</p>
                <h4>컴포넌트 기본문법</h4>
                <article class="explanation-box">
                    Vue.component("컴포넌트 이름", 컴포넌트 내용);
                </article>
                <h4>컴포넌트 활용(전역컴포넌트)</h4>
                <pre>
&lt;div id="app"&gt;
    &lt;app-header&gt;&lt;/app-header&gt;
    &lt;app-contents>&lt;/app-contents&gt;
&lt;/div&gt;
&lt;script&gt;
    <code class="blue">
    Vue.component('app-header', {
        template: '&lt;h1&gt;Header&lt;/h1&gt;'
    });

    Vue.component('app-contents', {
        template: '&lt;div&gt;Content&lt;/div&gt;'
    });
    </code>
    new Vue({
        el : "#app"
    });
&lt;/script&gt;   
                </pre>
                <h4>컴포넌트 활용(지역컴포넌트)</h4>
                <pre>
&lt;div id="app"&gt;
    &lt;app-footer&gt;&lt;/app-footer&gt;
&lt;/div&gt;
&lt;script&gt;
    new Vue({
        el : "#app",
        <code class="blue">
        components:{
            'app-footer':{
                template: '&lt;footer&gt;Footer&lt;/footer&gt;'
            }
        }
        </code>
    });
&lt;/script&gt; 
                </pre>
                <h4>컴포넌트 활용결과</h4>
                <pre>
                    <div id="app">
                        <app-header></app-header>
                        <app-contents></app-contents>
                        <app-footer></app-footer>
                    </div>
                    <script>
                        // Vue.component('컴포넌트 이름', 컴포넌트 내용);
                        Vue.component('app-header', {
                            template: '<h1>Header</h1>'
                        });
                    
                        Vue.component('app-contents', {
                            template: '<div>Content</div>'
                        });
                        
                        new Vue({
                            el : "#app",
                            components:{
                                'app-footer':{
                                    template: '<div>Footer</div>'
                                }
                            }
                        });
                    </script>   
                </pre>
            </section>
            <section>
                <h3>컴포넌트 통신</h3>
            </section>
            <section id="">
                <h3>Vue CLI 이해하기</h3>
                <table class="default-table">
                    <caption class="sr-only">Vue CLI 사용법</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">vue 파일 생성 </th>
                            <td>
                                <ul>
                                    <li>파일명은 두단어 이상 연결하여 사용</li>
                                    <li>파스칼표키법 사용 (PascalCase)</li>
                                    <li>MainHeader</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">기본태그 생성</th>
                            <td>
                                <ul>
                                    <li>"<span class="bold">vue</span>" 입력 후 탭키 클릭(4.x 버전)</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h3>node.js 명령어(터미널)</h3>
                <table class="default-table">
                    <caption class="sr-only">node.js 명령어</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">ls </th>
                            <td>파일목록 알아보기</td>
                        </tr>
                        <tr>
                            <th>cd</th>
                            <td>파일 선택</td>
                        </tr>
                        <tr>
                            <th>프로젝트 생성</th>
                            <td>
                                <ul>
                                    <li>vue create [프로젝트 명]</li>
                                    <li>* powershell이 오류가 날 경우 "<span class="bold">bash</span>"를 이용하여 생성</li>
                                </ul>
                                <div>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>server 실행</th>
                            <td>"<span class="bold">npm run serve</span>" 명령어로 실행 (server가 아닌 serve가 맞음) </td>
                        </tr>
                        <tr>
                            <th>axios 설치</th>
                            <td>"<span class="bold">npm i axios</span>" 명령어를 실행 </td>
                        </tr>
                        <tr>
                            <th>터미널 종료</th>
                            <td> Ctrl + c</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h3>템플릿 문법</h3>
                <h4>v-model</h4>
                <table class="default-table">
                    <caption class="sr-only">템플릿 문법 (v-model)</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">v-model</th>
                            <td>
                                <p>input에 입력된 텍스트 값을 동적으로 바로 vue 인스턴스안에 매핑</p>
                                
                                
                                    <input type="text" v-model="message" placeholder="edit me">
                                    <p>{{message}}</p>
                                </div>                            
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4>v-on:click</h4>
                <table class="default-table">
                    <caption class="sr-only">템플릿 문법 (v-on:click)</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">v-on:click</th>
                            <td>
                                <p>onClick 이벤트</p>
                                
                                <input type="text" v-model="clickConfirm">
                                <button v-on:click="addClick">add</button>                      
                            </td>
                        </tr>
                    </tbody>
                </table>
            <section>
                <h3>속성</h3>
                <h4>style 속성</h4>
                <table class="default-table">
                    <caption class="sr-only">style 속성</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">scoped </th>
                            <td>
                                <figure>
                                    <img src="../../assets/images/img-vue-02.png" alt="scoped">
                                    <figcaption>해당 컴포넌트 안에서만 적용</figcaption>
                                </figure>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h3>Method</h3>
                <h4>localStorage.setItem()</h4>
                <table class="default-table">
                    <caption class="sr-only">localStorage.setItem()</caption>
                    <colgroup>
                        <col style="width: 25%" />
                        <col style="width: 75%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">localStorage.setItem()</th>
                            <td>
                                <ul>
                                    <li>저장하는 로직</li>
                                    <li>"<span class="bold">Application > storage > Local Storage > </span>" 안에서 확인 </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </section>
    </main>
    <script>
        new Vue({
            el :'#app',
            data:{
                message: '',
                clickConfirm: ''
            },

            methods: {
                addClick: function(){
                    console.log(this.clickConfirm);

                    //저장하는 로직
                    localStorage.setItem(this.clickConfirm, this.clickConfirm);
                    //초기화 로직
                    this.clickConfirm= '';
                }
            }
        })
    </script>
</body>
</html>