@charset "UTF-8";

// *----------------------------
//	Footer
// ----------------------------*

/* Footer */
footer {
    border-top: 2px solid;
    background: $black;
    color: $white;
    width: 100%;
    min-height: 100px;

    article{
        text-align: center;
        padding: 20px;

        a{
            color: $white;
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li{
                padding: 10px;
                border: 1px solid;
                width: 200px;

                &:before{
                    content:"";
                }
            }
        }

        &:first-child{
            padding-bottom: 10px;
        }

        &:last-child{
            padding-top: 0;
        }
    }
}

