@charset "UTF-8";

// *----------------------------
//	Header
// ----------------------------*

/* Header */
header {
    position: sticky;
    border-bottom: 2px solid;
    background: $white;
    top: 0;
    height: 100px;
    z-index: 1;

    section{
        margin: 0 auto;
        width: 1000px;
        height: 100px;
        line-height: 100px;

        h1{
            display:inline-block;
        }
        nav{
            &#menuList{
                display:flex;
                width: 70%;
                float: right;
    
                div{
                    width: 120px;
                    text-align: center;
                }
            }
        }
    }
}