@charset "UTF-8";

// *----------------------------
//	Header
// ----------------------------*

/* Header */
header {
    position: sticky;
    border-bottom: 2px solid;
    background: $white;
    top: 0;
    height: 100px;
    z-index: 1;

    section{
        margin: 0 auto;
        
        height: 100px;
        line-height: 100px;

        @media (min-width: 320px){
            width: 100%;
        }

        
        @media (min-width: 768px){
            width: 1000px;
        }

        h1{
            display:inline-block;
        }
        nav{
            &#menuList{
                
                width: 70%;
                float: right;
                
                @media (min-width: 320px){
                    display:none;    
                }

                @media (min-width: 768px){
                    display:flex;
                }
                div{
                    width: 120px;
                    text-align: center;
                }
            }
        }
    }
}